<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="Women Security App"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intent"
        tools:targetApi="31">
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".CustomActivity2"
            android:exported="false" />
        <activity
            android:name=".LinksListActivity"
            android:exported="false" />
        <activity
            android:name=".AlertContactActivity2"
            android:exported="false" />
        <activity
            android:name=".AlertContactsActivity"
            android:exported="false" />
        <activity
            android:name=".AlertActivatedActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.DangerousSituationsActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.PhoneChargedActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.EmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.SelfDefenseActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyActivity2"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.StayLitAreasActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.StrangerDistanceActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.AlertTransitActivity"
            android:exported="false" />
        <activity
            android:name=".safetytip.TipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SafetyTipsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>